@charset "utf-8";

@font-face {
    font-family: 'thaisans_neue_blackregular';
    src: url(../fonts/thaisans/thaisansneue-black-webfont.eot?nocache);
    src: url(../fonts/thaisans/thaisansneue-black-webfont.eot?nocache?#iefix) format("embedded-opentype"), url(../fonts/thaisans/thaisansneue-black-webfont.woff?nocache) format("woff"), url(../fonts/thaisans/thaisansneue-black-webfont.ttf?nocache) format("truetype"), url(../fonts/thaisans/thaisansneue-black-webfont.svg?nocache#thaisans_neue_blackregular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'thaisans_neuebold';
    src: url(../fonts/thaisans/thaisansneue-bold-webfont.eot?nocache);
    src: url(../fonts/thaisans/thaisansneue-bold-webfont.eot?nocache?#iefix) format("embedded-opentype"), url(../fonts/thaisans/thaisansneue-bold-webfont.woff?nocache) format("woff"), url(../fonts/thaisans/thaisansneue-bold-webfont.ttf?nocache) format("truetype"), url(../fonts/thaisans/thaisansneue-bold-webfont.svg?nocache#thaisans_neuebold) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'thaisans_neue_extbdregular';
    src: url(../fonts/thaisans/thaisansneue-extrabold-webfont.eot?nocache);
    src: url(../fonts/thaisans/thaisansneue-extrabold-webfont.eot?nocache?#iefix) format("embedded-opentype"), url(../fonts/thaisans/thaisansneue-extrabold-webfont.woff?nocache) format("woff"), url(../fonts/thaisans/thaisansneue-extrabold-webfont.ttf?nocache) format("truetype"), url(../fonts/thaisans/thaisansneue-extrabold-webfont.svg?nocache#thaisans_neue_extbdregular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'thaisans_neue_extltregular';
    src: url(../fonts/thaisans/thaisansneue-extralight-webfont.eot?nocache);
    src: url(../fonts/thaisans/thaisansneue-extralight-webfont.eot?nocache?#iefix) format("embedded-opentype"), url(../fonts/thaisans/thaisansneue-extralight-webfont.woff?nocache) format("woff"), url(../fonts/thaisans/thaisansneue-extralight-webfont.ttf?nocache) format("truetype"), url(../fonts/thaisans/thaisansneue-extralight-webfont.svg?nocache#thaisans_neue_extltregular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'thaisans_neue_lightregular';
    src: url(../fonts/thaisans/thaisansneue-light-webfont.eot?nocache);
    src: url(../fonts/thaisans/thaisansneue-light-webfont.eot?nocache?#iefix) format("embedded-opentype"), url(../fonts/thaisans/thaisansneue-light-webfont.woff?nocache) format("woff"), url(../fonts/thaisans/thaisansneue-light-webfont.ttf?nocache) format("truetype"), url(../fonts/thaisans/thaisansneue-light-webfont.svg?nocache#thaisans_neue_lightregular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'thaisans_neueregular';
    src: url(../fonts/thaisans/thaisansneue-regular-webfont.eot?nocache);
    src: url(../fonts/thaisans/thaisansneue-regular-webfont.eot?nocache?#iefix) format("embedded-opentype"), url(../fonts/thaisans/thaisansneue-regular-webfont.woff?nocache) format("woff"), url(../fonts/thaisans/thaisansneue-regular-webfont.ttf?nocache) format("truetype"), url(../fonts/thaisans/thaisansneue-regular-webfont.svg?nocache#thaisans_neueregular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'thaisans_neue_sembdregular';
    src: url(../fonts/thaisans/thaisansneue-semibold-webfont.eot?nocache);
    src: url(../fonts/thaisans/thaisansneue-semibold-webfont.eot?nocache?#iefix) format("embedded-opentype"), url(../fonts/thaisans/thaisansneue-semibold-webfont.woff?nocache) format("woff"), url(../fonts/thaisans/thaisansneue-semibold-webfont.ttf?nocache) format("truetype"), url(../fonts/thaisans/thaisansneue-semibold-webfont.svg?nocache#thaisans_neue_sembdregular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'thaisans_neue_ultbdregular';
    src: url(../fonts/thaisans/thaisansneue-ultrabold-webfont.eot?nocache);
    src: url(../fonts/thaisans/thaisansneue-ultrabold-webfont.eot?nocache?#iefix) format("embedded-opentype"), url(../fonts/thaisans/thaisansneue-ultrabold-webfont.woff?nocache) format("woff"), url(../fonts/thaisans/thaisansneue-ultrabold-webfont.ttf?nocache) format("truetype"), url(../fonts/thaisans/thaisansneue-ultrabold-webfont.svg?nocache#thaisans_neue_ultbdregular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'thaisans_neue_ultltregular';
    src: url(../fonts/thaisans/thaisansneue-ultralight-webfont.eot?nocache);
    src: url(../fonts/thaisans/thaisansneue-ultralight-webfont.eot?nocache?#iefix) format("embedded-opentype"), url(../fonts/thaisans/thaisansneue-ultralight-webfont.woff?nocache) format("woff"), url(../fonts/thaisans/thaisansneue-ultralight-webfont.ttf?nocache) format("truetype"), url(../fonts/thaisans/thaisansneue-ultralight-webfont.svg?nocache#thaisans_neue_ultltregular) format("svg");
    font-weight: 400;
    font-style: normal
}

body {
    font-family: "thaisans_neueregular" !important;
}